<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272489698079-f69cdtbnjqa5g1880uvg940rcn35pbiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272489698079-f69cdtbnjqa5g1880uvg940rcn35pbiu</string>
	<key>API_KEY</key>
	<string>AIzaSyC6y5zyqVepb3_zs1tXyRHEp1IGpS6QlzA</string>
	<key>GCM_SENDER_ID</key>
	<string>272489698079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eryklorenc.flutterShop</string>
	<key>PROJECT_ID</key>
	<string>flutter-shop1120</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-shop1120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272489698079:ios:1d67e82faab546b498d62a</string>
</dict>
</plist>